<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interactive phonon visualizer</title>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/jquery-ui.1.12.1.min.css"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../user_static/css/mcloud_theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/visualizer.css"/>

    <script src="../../static/js/jquery-3.1.0.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../user_static/js/three.min.js"></script>
    <script src="../../user_static/js/highcharts.min.js"></script>
    <script src="../../user_static/js/CCapture.js"></script>
    <script src="../../user_static/js/gif.js"></script>

    <script src="../../user_static/js/complex.min.js"></script>
    <script src="../../user_static/js/js-yaml.min.js"></script>
    <script src="../../user_static/js/Detector.js"></script>
    <script src="../../user_static/js/export.js"></script>
    <script src="../../user_static/js/phononwebsite.js"></script>
    <script src="../../user_static/js/main.js"></script>

    <script src="../../static/js/iframeResizer.contentWindow.min.js"></script>

</head>
<body>

{% block mcloud_header %}
    {% include "user_templates/base.html" %}
{% endblock %}

</body>
</html>